<mat-toolbar>
  <span>My Application</span>
</mat-toolbar>

<table mat-table [dataSource]="parkingSpots" class="mat-elevation-z8">
  <ng-container matColumnDef="licensePlate">
    <th mat-header-cell *matHeaderCellDef> Placa do Veiculo </th>
    <td mat-cell *matCellDef="let parkingsSpot"> {{parkingsSpot.licensePlate}} </td>
  </ng-container>

  <ng-container matColumnDef="carEntryTime">
    <th mat-header-cell *matHeaderCellDef> Hora da Entrada </th>
    <td mat-cell *matCellDef="let parkingsSpot"> {{parkingsSpot.carEntryTime}} </td>
  </ng-container>

  <ng-container matColumnDef="carLeaveTime">
    <th mat-header-cell *matHeaderCellDef> Hora da Saída </th>
    <td mat-cell *matCellDef="let parkingsSpot"> {{parkingsSpot.carLeaveTime}} </td>
  </ng-container>

  <ng-container matColumnDef="parkingSpotStatus">
    <th mat-header-cell *matHeaderCellDef> Status da Vaga </th>
    <td mat-cell *matCellDef="let parkingsSpot"> {{parkingsSpot.parkingSpotStatus}} </td>
  </ng-container>

  <ng-container matColumnDef="priceOfParking">
    <th mat-header-cell *matHeaderCellDef> Valor Pago </th>
    <td mat-cell *matCellDef="let parkingsSpot"> {{parkingsSpot.priceOfParking }} </td>
  </ng-container>

  <ng-container matColumnDef="timeOfParking">
    <th mat-header-cell *matHeaderCellDef> Tempo de Estadia </th>
    <td mat-cell *matCellDef="let parkingsSpot"> {{parkingsSpot.timeOfParking}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
